<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 20%), url('https://images.unsplash.com/photo-1504670482337-6863551c6f55?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=60383aeb54a3cbd56dcf5fe1753a01d8&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
    <h1>Street Dance</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>
                <%= cocktail.name%>
              </h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="button" ><%= link_to "Add a cocktail", new_cocktail_path, class: 'btn-treehouse'%>
  </div>
</div>
